extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Тут какой-то текст про сайт
        | <br /><br />
        | Еще какой-то текст
        | <br /><br />
        | И еще текст