extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Where to work
          small &nbsp; Поиск мест рядом!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Кофейня
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 1000m
          p.address Юбилейный 27
          p
            span.label.label-warning Еда
            | &nbsp;
            span.label.label-warning Напитки
            | &nbsp;
            span.label.label-warning Вайфай
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead Поиск мест рядом! Поиск мест рядом! Поиск мест рядом! Поиск мест рядом! Поиск мест рядом! Поиск мест рядом! Поиск мест рядом! Поиск мест рядом!
